h1 Login

form action="/login" method="post"
  p
    label for="email" Email
    br
    input#email type="email" name="email" required=true

  p
    label for="password" Password
    br
    input#password type="password" name="password" required=true

  p
    button type="submit" Login

p
  | No account yet?
  |  
  a href="/register" Register
